In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [31]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [2]:
titles = pd.read_csv(r'C:\Users\MURALITHARAN\Downloads\titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [39]:
titles.tail()

                                      title  year
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

### How many movies are listed in the titles dataframe?

In [54]:
da1=titles["title"].count()

In [55]:
print("number of movies are listed:",da1)

number of movies are listed: 244914

### What are the earliest two films listed in the titles dataframe?

In [32]:
 da2=titles.sort_values("year")
print(da2)
a=da2.iloc[:2,0:1]


print(a)

                                                    title  year
193222                                         Miss Jerry  1894
51388                                  The Startled Lover  1898
4584       Reproduction of the Corbett and Jeffries Fight  1899
219198                                     May Day Parade  1900
47548   Pierrot's Problem, or How to Make a Fat Wife O...  1900
...                                                   ...   ...
217349                                  The Dreams I Have  2024
178993                                    Despicable Me 4  2024
34213                                            Avatar 5  2025
183018                           The Zero Century: Maetel  2026
242196                                          100 Years  2115

[244914 rows x 2 columns]
                     title
193222          Miss Jerry
51388   The Startled Lover

### How many movies have the title "Hamlet"?

In [69]:


da3=titles["title"].str.count("Hamlet").sum()

print(da3)

57

In [3]:
release = pd.read_csv(r'C:\Users\MURALITHARAN\Downloads\release_dates.csv')
release.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are titled "North by Northwest"?

In [79]:

da4=titles["title"].str.contains("North by Northwest").sum()
print(da4)

1

### When was the first movie titled "Hamlet" made?

In [101]:
da5=titles[titles["title"]=="Hamlet"]
da51=da5.sort_values("year")
print(da51)

result=da51.iloc[0:1,1:]
print(result)

         title  year
52521   Hamlet  1910
198234  Hamlet  1911
39916   Hamlet  1913
10637   Hamlet  1921
101728  Hamlet  1948
172640  Hamlet  1954
161324  Hamlet  1964
67406   Hamlet  1969
122827  Hamlet  1973
133921  Hamlet  1976
82130   Hamlet  1987
192142  Hamlet  1990
178222  Hamlet  1996
62000   Hamlet  2000
189093  Hamlet  2009
173033  Hamlet  2011
202025  Hamlet  2014
154029  Hamlet  2015
88065   Hamlet  2016
6422    Hamlet  2017
       year
52521  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [113]:
da6=titles[titles["title"]=="Treasure Island"]
print(da6.sort_values("year"))

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [138]:
da7=titles[titles["year"]==1950]
print("How many movies were made in the year 1950:",da7["year"].count())

How many movies were made in the year 1950: 1113

### How many movies were made in the year 1960?

In [139]:
da8=titles[titles["year"]==1960]
print("How many movies were made in the year 1960:",da8["year"].count())

How many movies were made in the year 1960: 1549

### How many movies were made from 1950 through 1959?

In [167]:
da9=titles[(titles["year"]>=1950)&(titles["year"]<=1959)]
print("How many movies were made from 1950 through 1959:",da9["year"].count())

How many movies were made from 1950 through 1959: 12934

### In what years has a movie titled "Batman" been released?

In [175]:
da10=titles[titles["title"]=="Batman"]
print("what years has a movie titled Batman been released:")
print(da10.iloc[:,1:])

what years has a movie titled Batman been released:
        year
39349   1943
240896  1989

### How many roles were there in the movie "Inception"?

In [34]:

cast = pd.read_csv(r'C:\Users\MURALITHARAN\Downloads\cast.csv')
cast.head(50)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
22,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
23,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
24,The LXD: The Secrets of the Ra,2011,Dondraico 'Draico' Johnson,actor,Umbra,NaN
25,Pelotazo nacional,1993,F?lix 'El Gato',actor,Rebolledo,12.0
26,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
27,De la calle,2001,Luis 'El Plojo',actor,Froil?n plaza del estudiante,80.0
28,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
29,They Want Dick Dickster,2015,Zhavier' (II) 'Fox,actor,Dr. Shrinkalotsky,25.0
30,Mahogany Sunrise,2014,Gilberto 'Ghetto Bird' Bahena,actor,Jesse,21.0
31,Wakolda,2013,Marcelo 'Hos' Bearzi,actor,Due?o de la hoster?a,19.0
32,Killing Device,1993,Van 'Igor' Morrison,actor,Jeep Driver,51.0
33,Troop 491: the Adventures of the Muddy Lions,2013,Ellias 'Illy' Liban,actor,Big Gook,NaN
34,Heron's Story,2008,David 'Jumbles' Cook,actor,Man at Bar 3,NaN
35,Been Down So Long It Looks Like Up to Me,1971,Murray the 'K',actor,Himself,NaN
36,I Wanna Hold Your Hand,1978,Murray the 'K',actor,Himself,48.0
37,That's the Way of the World,1975,Murray the 'K',actor,Big John Little,22.0
38,Violencia urbana,1996,N?stor 'Kick Boxer',actor,Monta?a,21.0
39,Nothing Like the Holidays,2008,Johnny 'Koolout' Starks,actor,Alexis' Thug,35.0
40,Ransum Games,2014,Johnny 'Koolout' Starks,actor,Henchman #3,6.0
41,Subtle Seduction,2008,Johnny 'Koolout' Starks,actor,Officer Ward,9.0
42,The Godfather of Green Bay,2005,Johnny 'Koolout' Starks,actor,Marcus,18.0
43,Using,2015,Johnny 'Koolout' Starks,actor,Randall Dawson,10.0
44,Krigen,2015,Christian 'Krolle' Pedersen,actor,Kenneth 'Slagter' Jensen,12.0
45,El secuestro de un periodista,1992,Tony 'La Chispa',actor,Doctor Giraldo,NaN
46,Violencia en la sierra,1995,Tony 'La Chispa',actor,Victoriano,4.0
47,Rebecca's Window,2006,Yradier 'Lito' Tejada,actor,Sammy,4.0
48,Zeroville,2018,Mike 'Mad Dog' Adams,actor,Hippie Guitar Player,NaN
49,In the Land of the Head Hunters,1914,Paddy 'Malid,actor,Kenada,5.0

In [297]:
da11=cast[cast["title"]=="Inception"]
print("How many roles were there in the movie Inception:",da11.iloc[:,3:4].size)

How many roles were there in the movie Inception: 78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [227]:
d12=cast[cast["n"].isnull()]
print("How many roles in the movie Inception are NOT ranked by an n value:",d12.iloc[:,5:].size)

How many roles in the movie Inception are NOT ranked by an n value: 1458573

### But how many roles in the movie "Inception" did receive an "n" value?

In [326]:
import numpy as np
d13=cast[(cast["title"]=="Inception")]
d13=d13.dropna()                                      

print("But how many roles in the movie Inception did receive an n value:",d13.iloc[:,5:].size)

But how many roles in the movie Inception did receive an n value: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [327]:
da14=cast[(cast["title"]=="North by Northwest")]
da14=da14.iloc[:,[2,5]]
print("Display the cast of North by Northwest in their correct n value order ignoring roles that did not earn a numeric n value:",da14.dropna())

Display the cast of North by Northwest in their correct n value order ignoring roles that did not earn a numeric n value:                          name     n
206471           Edward Binns  15.0
356707         Leo G. Carroll   5.0
464736        Philip Coolidge  13.0
665768      Robert Ellenstein  11.0
871426             Cary Grant   1.0
1275337         Martin Landau   8.0
1384780             Ken Lynch  16.0
1457165           James Mason   3.0
1508344         Patrick McVey  14.0
1695173           Philip Ober   7.0
1811387          Edward Platt  10.0
2295714          Les Tremayne  12.0
2447081         Adam Williams   9.0
3048272  Josephine Hutchinson   6.0
3157232   Jessie Royce Landis   4.0
3518333       Eva Marie Saint   2.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [328]:
da15=cast[(cast["year"]==1972)&(cast["title"]=="Sleuth")]
print(da15.iloc[:,[2,5]])

                       name    n
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1448690        Teddy Martin  6.0
1465483  John (II) Matthews  4.0
1705394    Laurence Olivier  1.0
2724553  Eve (III) Channing  5.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [329]:
da16=cast[(cast["year"]==2007)&(cast["title"]=="Sleuth")]
print(da16.iloc[:,[2,5]])

                        name    n
260242       Kenneth Branagh  NaN
326774         Michael Caine  1.0
373877   Alec (II) Cawthorne  NaN
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [349]:
da17=cast[(cast["title"]=="Hamlet")&(cast["year"]==1921)].character.shape[0]
print(da17)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [350]:
da18=cast[(cast["title"]=="Hamlet")&(cast["year"]==1996)].character.shape[0]
print(da18)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [353]:
da19=cast[cast["title"]=="Hamlet"].character.shape[0]
print(da19)

342

### How many people have played an "Ophelia"?

In [361]:
da20=cast[cast["character"]=="Ophelia"].shape[0]
print("How many people have played an Ophelia:",da20)

How many people have played an Ophelia: 117

### How many people have played a role called "The Dude"?

In [362]:
da21=cast[cast["character"]=="The Dude"].shape[0]
print("How many people have played an The Dude:",da21)

How many people have played an The Dude: 19

### How many people have played a role called "The Stranger"?

In [363]:
da22=cast[cast["character"]=="The Stranger"].shape[0]
print("How many people have played an The Stranger:",da22)

How many people have played an The Stranger: 212

### How many roles has Sidney Poitier played throughout his career?

In [368]:
da23=cast[cast["name"]=="Sidney Poitier"].name.shape[0]
print("How many roles has Sidney Poitier played throughout his career:",da23)

How many roles has Sidney Poitier played throughout his career: 43

### How many roles has Judi Dench played?

In [369]:
da24=cast[cast["name"]=="Judi Dench"].name.shape[0]
print("How many roles has Judi Dench played:",da24)

How many roles has Judi Dench played: 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [12]:
da25=cast[(cast["name"]=="Cary Grant")&(cast["year"]==1940)&(cast["n"]==2)]
print(da25)

                   title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [19]:
da26=cast[(cast["name"]=="Cary Grant")&(cast["year"]==1940)]
print(da26)

                          title  year        name   type           character  \
871407          His Girl Friday  1940  Cary Grant  actor        Walter Burns
871423         My Favorite Wife  1940  Cary Grant  actor          Nick Arden
871448  The Howards of Virginia  1940  Cary Grant  actor         Matt Howard
871450   The Philadelphia Story  1940  Cary Grant  actor  C. K. Dexter Haven

          n
871407  1.0
871423  2.0
871448  1.0
871450  1.0

### How many roles were available for actors in the 1950s?

In [31]:
da27=cast[(cast["type"]=="actor")&(cast["year"]==1950)].type.shape[0]
print("How many roles were available for actors in the 1950s:",da27)

How many roles were available for actors in the 1950s: 16760

### How many roles were available for actresses in the 1950s?

In [35]:
da28=cast[(cast["type"]=="actress")&(cast["year"]==1950)].type.shape[0]
print("How many roles were available for actors in the 1950s:",da28)

How many roles were available for actors in the 1950s: 5637

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [43]:
da29=cast[(cast["n"]==1)&(cast["year"]<=1980)].year.shape[0]
print("How many leading roles (n=1) were available from the beginning of film history through 1980:",da29)

How many leading roles (n=1) were available from the beginning of film history through 1980: 65140

Empty DataFrame
Columns: [title, year, country, date]
Index: []

### How many non-leading roles were available through from the beginning of film history through 1980?

In [45]:
da30=cast[cast["year"]<=1980].year.shape[0]
print("How many non-leading roles were available through from the beginning of film history through 1980:",da30)

How many non-leading roles were available through from the beginning of film history through 1980: 1182807

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [50]:
da31=cast[(cast["year"]==1980)&(cast["n"].isnull())].year.shape[0]
print("How many roles through 1980 were minor enough that they did not warrant a numeric n rank:",da31)

How many roles through 1980 were minor enough that they did not warrant a numeric n rank: 4466